.carousel{
    z-index: 0
}


.image-size{
    height:480px;
    width:100%;
}

.carousel-size{
    
    width:100%;
    padding: 80px 0 0 0;
    margin-top:100%;
    margin: auto 0 0 0;

}

@media only screen and (min-width: 768px) {
    .carousel-display{
        width:100%;
        height:auto;
    }
    .image-size{
        height:auto;
        width:100%;
    }

    .image-size-1{
        height:auto;
        width:100%;
    }
}

@media only screen and (max-width: 380px) {
    .carousel-display{
        width:100%;
        height:500px;
    }
    .image-size{
        height:100%;
        width:800px;
        left:50%;
        margin-left: -210px;
    }

    .image-size-1{
        height:100%;
        width:800px;
        left:50%;
        margin-left: -150px;
    }
}

@media (max-width: 420px) {
    .carousel-display{
        width:100%;
        height:500px;
    }
    .image-size{
        height:100%;
        width:800px;
        left:50%;
        margin-left: -192px;
    }

    .image-size-1{
        height:100%;
        width:800px;
        left:50%;
        margin-left: -145px;
    }
}