.color-nav{
    background-color:rgb(243,133,27);
}

.nav-logo {
    float: left;
    margin: 0px 0px 0px 80px;
}

.nav-position{
    width : 100%;
    padding:0 0 0 0 ;
    margin: 100 100 100 100;
    position:fixed;
    position:-webkit-sticky;
    position: device-fixed;
    z-index:1000;
}

.navbar-link{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.btn-sm{
    margin-left: 20px;
    margin-right: 80px;
}

.nav-size{
    height:40px;
}

@media only screen and (max-width: 1000px) {
    .logo-center{
        margin: 0 0 0 auto;
    }
    .btn-phone-whatsapp{
        margin: 0 0 0 0px;
        font-size: 90%;
        padding: 3x 2px 3px 2px;
    }
}

.navbar-link:hover{
    color:#25D366 !important;
}

.navbar-link.active{
    color: #25D366 !important;
}

.navbar-link{
    color:white !important;
}