.overlay-comp{
    z-index: 5;
    position: absolute;
    top: 540px;
    width: 40%;
    height:auto;
    border: 1px  #900;
    background: linear-gradient(to right,  grey 0%, grey 50%, black 50%, black 100%);
    background-repeat: no-repeat;
    padding: 15px 15px 15px 15px;
    border-radius: 4px;
    align-items: center;
    transform: translate(72.5%,10%);
    background-position: center;
}

.btn-comp{
    padding-left: 10px;
    padding-right: 14px;
    width:310px;
    height:45px;
}

.input-div-comp{
  margin-left:20px;
  margin-top:0;
}


@media only screen and (max-width: 770px) {
  .overlay-ipad{
    z-index: 5;
    position: absolute;
    top: 330px;
    width: 80%;
    height:7%;
    border: 1px  #900;
    background: linear-gradient(to right,  grey 0%, grey 50%, black 50%, black 100%);
    background-repeat: no-repeat;
    padding: 15px 15px 15px 15px;
    border-radius: 4px;
    align-items: center;
    transform: translate(10%,0%);
  }

  .btn-ipad{
    padding-left: 10px;
    padding-right: 14px;
    width:240px;
    height:45px;
  }
}

@media only screen and (max-width: 600px) {
  .overlay-phone{
    background: transparent;
    
  }

  .btn-phone{
    padding-left: 10px;
    padding-right: 14px;
    width:240px;
    height:45px;
  }
}

@media only screen and (max-width: 380px) {
  .overlay-phone{
    background: transparent;
    
  }

  .btn-phone{
    padding-left: 10px;
    padding-right: 14px;
    width:240px;
    height:45px;
  }

  .input-div-phone{
    margin-left:10px;
    margin-top:0;
  }
}



    