.custom-jumbo{
    background-image: url('../assets/girl_4.jpg'); 
    background-size: cover;
    background-position: 20% 10%;
    height:100%;
    width:100%;
    margin-bottom: 0;
}


.custom-container{
    padding:0 0 0 0;
    margin:0 0 0 0;
    display: block;
    text-align: center;
    height:350px;
}

.custom-jumbo2{
    background-color: white;
    height:100%;
    width:100%;
    margin-bottom: 0;
}

.custom-jumbo3{
    background-color: yellow;
    height:100%;
    width:100%;
    margin-bottom: 0;
}

.button-size{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
}